# Exercises for Intro to Python

___ 
## Day 1: Data Types, Operations, and Functions

### Basics of Python

Use Python to find the value of each of the following math expressions:

* $1 + 2 + 3 + 4$
* $1 + 2 + \frac{1}{2}$
* $4 \cdot (2 + 3)$
* $(8 - 2)(5 + 3\times 4)$
* $\frac{2+6\cdot 3}{4}$

What are the types of the following objects?
* 63
* 7+2
* "HARP-210"
* 3.14159
* "17-5"
* 3/2

What is the best Python type to represent the following?
* Names
* Addresses
* Scores on exams
* Phone numbers
* Prices at a store
* Zip codes

Try running each of the following. Some will give you errors. Make sure you understand why each does or does not give an error.
* "one" + "two"
* 3 + 5.5
* 3 + "5"
* "apple" - "orange"
* 3 + 5.0

___

### Variables

Create a variable (with any legal name), and assign it a float value.

Create a variable called `name` and assign it the value of your name.

Try creating a variable that has an illegal name. See what error Python gives you.
(Also, look closely at the coloration of your variable's name. What do you notice?)

Create a variable called A and set it equal to 2, set B equal to 3, and C equal to 7.

Predict what the following will output when you run them, then check your answers:
* A
* A + C
* C - B

Now, set B = B + C. What is B equal to now?

Run the cell above again. Why does B change again?

___
### Comparators

Predict, and then check your answer for each of the following:

* 200 > 10
* 1 + 7 < 2 + 5
* 1 < 7 + 2 + 5
* 1 + 1 == 2
* "Q" < "P"
* "hello" > "goodbye"
* "cats" > "cat"
* (1 + 1 > 3) == ("A" > "B")

Python gives an error for the following line of code. What is the error, and what does it mean?

In [ ]:
3 < "cats"

In lecture we discussed how comparators use alphabetical ordering, but that's not quite true. Consider the following, which work. Try to find out how Python *really* orders strings.

In [ ]:
"Èãº„ÅÆÈå¨ÈáëË°ìÂ∏´" > "„Éâ„É©„Ç¥„É≥„Éú„Éº„É´ Z"

In [ ]:
"Œ±" > "Œ≤"

Think about the languages that you know. For which will some sort of ordering be useful?

___
### Functions

Below is a use of a built-in Python function to take the absolute value of a number (which means to make it positive).

* What's the *name* of the function?
* In the example below, what are the *argument(s)*?
* In the example below, what is *returned* from the function?

More generally:
* What type(s) are allowed as arguments to the function?
* What type is the return value?

In [ ]:
abs(-5)

Here is another function, which you'll probably never see ever again for the rest of your life.

Once again, identify the name of the function, its argument, and its return value.

In [ ]:
A = "3"

h = hash(A)

print(h)

Predict what the result of each of the following will be, then check your answers:

In [ ]:
len("red") + len("blue")

In [ ]:
max(len("red"), len("blue"), len("orange"))

In [ ]:
r = len("red")
b = len("blue")
o = len("orange")

max(r, b, o, r + b)

**Tricky Question.** What does the `print()` function return? The thing that is printed out is *not* returned! It is printed out.

___
### Aside: Markdown

Markdown is a way to add text annotation (as well as links, images, and plenty of other things) inside of your notebooks. This makes them much easier to read, and can be used as notes, exercises, and so on. You know, like this.

##### Basics

Each cell in your notebook is either Code or Markdown. You can change which is which with the dropdown at the top of the screen. Any text you type turns into nice-looking plaintext, separated into paragraphs by leaving a blank line between them.

Double-click on any markdown cell to see the markdown associated with it, and run the cell (Shift+Enter) to convert it back to rich text.

##### Simple Markdown

* Add headings with one to five octothorpes `#` followed by a space.
* **Bold** text is surrounded by two asterisks `**`, and *italics* by one.
* Bulleted lists start with an asterisk `*` followed by a space.
* Numbered lists work similarly, but with numbering `1.` and so on at the beginning of each line.
* You can use an [emoji keyboard](https://emojikeyboard.org/) to copy emoji in. üòç I promise I will use these sparingly in future notebooks.
* Add [website links](https://www.npr.org/) with `[]()`.

##### $\LaTeX$

If you know Latex, then you can put math inside of pairs of dollar signs `$` in your markdown, or `$$` to center it on its own line. If you don't, then don't worry about it.

$$ \sum_{i=n}^\infty\frac{1}{a^n} = \frac{1}{1-a} \quad\quad\text{for } |a|<1$$

##### Exercise.
Edit the markdown cell below and write a short paragraph and use the following:
* Start it with a level 4 header (four octothorpes)
* Use bold, italics, and a link somewhere.
* Search for some emoji and paste them in. üëç

___

## Day 2: Strings and Lists

### String Slicing

In [ ]:
text = "parable of the sower"

What will the following cells produce? Try to predict, and then check your answer.

In [ ]:
text[2:5]

In [ ]:
text[8]

In [ ]:
text[9:]

If I wanted to print the string "of" by slicing the `text` variable, what should I write?

___
### String Methods

I want to change the book title in the `text` variable to the title of the sequel, "parable of the talents". Do this using string methods. Then, `print(text)` to show that you've changed it.

In [ ]:
text = "parable of the sower"

Now, let's fix the book into its proper format with capitalization, i.e. "Parable Of The Talents". Check the [Python string API](https://docs.python.org/3/library/stdtypes.html#string-methods) and find out how to do it.

Predict what the output of the cells below will be, then run them to ceck.

One or more may produce an error. Why?

In [ ]:
title = "everything everywhere all at once"

In [ ]:
title.replace("every", "no").upper()

In [ ]:
title.find("EVERY").upper()

In [ ]:
title.replace("all", "eel").count("e")

For the cells above which don't produce errors, modify them so that they are multiple lines of code, rather than one long one.

**Fun Problem.** Using `.find()` and slicing, get the *second* word in the string `sentence`, and save it to a variable called `second`. Then, `print(second)`. Make sure your code works even if you change the contents of `sentence`!

In [ ]:
sentence = "the five boxing wizards jump quickly"

### List Methods

Somehow my cats managed to sneak into the safe where I keep the grocery list and add a bunch of unnecessary things. Write some code to only keep the items up to and including rice, then `print(groceries)` to make sure you've removed all the cat stuff.

In [ ]:
groceries = ["eggs", "milk", "english muffins", "tomatoes", "rice", "cat toys", "tuna", "crunchy snacks"]

In [ ]:
groceries = groceries[0:5]
print(groceries)

Using `in`, show that "milk" is still on my list, but "tuna" is gone.

Print out how many times the letter "a" appears in the list of `letters` below.

In [ ]:
letters = ["a", "e", "i", "o", "u", "a", "a", "y", "e", "a", "u", "o", "e"]

Using slicing (and probably `len()`), print the last three letters in the list:

I want to know how many times the word "the" appears in the list of titles below, but my code gives the wrong answer. What is the misunderstanding?

In [ ]:
title_list = ["parable of the sower", "parable of the talents",
              "wild seed", "mind of my mind", "clay's ark", "patternmaster",
             "kindred", "dawn", "adulthood rites", "imago", "fledgling"]

In [ ]:
title_list.count("the")

**Fun Problem.** I want to find the largest value in the list below. Do so only using list slicing and methods.

In [ ]:
num = [4, 1, 7, 3, 88, 16, 12, -99, 40]

**Fun Problem.** Going back to the `letters` variable, remove all of the letters but "a" from the list.